
.category1{
    padding: 5px;
    
}
h3.agileits-sear-head1 {
    color: white;
    margin-bottom: 20px;
    font-size: 21px;
    background-color: #FF6666;
}
.category1:hover{
    background-color: #FF6666;
    color: white;
}
.category2{
    padding: 8px;
    
}
h3.agileits-sear-head2 {
    color: white;
    margin-bottom: 20px;
    font-size: 21px;
    background-color: #6666FF;
}
.category2:hover{
    background-color: #6666FF;
    color: white;
}
.category3{
    padding: 8px;
    
}
h3.agileits-sear-head3 {
    color: white;
    margin-bottom: 20px;
    font-size: 17px;
    background-color: #66CC00;
}
.category3:hover{
    background-color: #66CC00;
    color: white;
}
.category4{
    padding: 8px;
    
}
h3.agileits-sear-head4 {
    color: white;
    margin-bottom: 20px;
    font-size: 21px;
    background-color: #FF3399;
}
.category4:hover{
    background-color: #FF3399;
    color: white;
}
.sidebar-img{
  
    margin-bottom: 10px;
}


.white-box{
    width: 270px;
    height: 32px;;
}